footer{
    display: flex;
    flex-direction: column;
    background-color: $footerColor;
    align-items: center;
    justify-content: center;
}

.pre-footer{
    width: 100%;
    height: 8px;
    display: flex;

    .pre-footer1{
        width: 50%;
        height: 100%;
        background: linear-gradient(to right, $titlesColor, #aaa);
    }

    .pre-footer2{
        width: 50%;
        height: 100%;
        background: linear-gradient(to right, #aaa, $section2Color);
    }
}

footer.footerBar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 64px;
    padding-bottom: 64px;
    justify-content: space-evenly;

    ul.informacoesContato{
        list-style: none;
        display: flex;
        flex-direction: column;

        img{
            width: 24px;
            height: auto;
            filter: invert(100%);
        }

        li{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: left;
            color: white;
            font-size: 1.5rem;
            font-weight: 400;
            font-family: $darkerGrotesque;

            .endImg img{
                margin-left: -12px;
                width: 48px;
                height: auto;
            }

            .telImg, .emailImg{
                margin-right: 24px;
            }

            .endImg{
                margin-right: 16px;
            }
        }

        a.quemSomos{
            font-weight: 400;
            font-family: $darkerGrotesque;
            margin-top: 32px;
            width: 204px;
            font-size: 2.25rem;
            padding: 4px 12px 8px 12px;
            white-space: nowrap;
            color: $footerColor;
            background-color: $titlesColor;
        }

        .telefone, .email{
            padding-top: 16px;
        }

        .email{
            white-space: nowrap;
        }
    }

    .desenvolvidoPaws{
        display: flex;
        flex-direction: column;
        color: white;
        font-size: 1.5rem;
        font-weight: 400;
        font-family: $darkerGrotesque;
        

        img{
            margin-top: 16px;
            width: 160px;
            height: auto;
        }
    }
}

@media screen and (max-width: 1300px){
    footer.col-9{
        width: 91.66%;
    }
}

@media screen and (max-width: 980px){
    footer{
        .col-9{
            width: 100%;
            margin-left: 4px;
            margin-right: 4px;
    
        }
    
        .footerBar{
            .blankCol{
                display: none;
            }
        }
    }
}

@media screen and (max-width: 720px){
    footer.footerBar{
        .col-4{
            padding-left: 4px;
            padding-bottom: 64px;
            width: 100%;
        }
    }
}