nav.navBar{
    background-color: rgba($color: $navColor, $alpha: 0.8);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 128px;
    position: fixed;
    backdrop-filter: blur(2px);
    z-index: 3;

    .abas{
        color: $footerColor;
        font-family: $darkerGrotesque;
        font-weight: 700;
        font-size: 2.5rem;
        text-transform: capitalize;
    }
    span{
        border-bottom: 2px solid rgba($color: $navColor, $alpha: 0);
    }
    span:hover{
        border-bottom: 2px solid $footerColor;
        font-size: 2.45rem;
        transition: border-bottom 500ms, font-size 500ms;
    }
    a{
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .col-2{
        display: inline-block;
        width: 0;
    }
}

.pre-section1{
    width: 100%;
    height: 128px;
    background-color: $navColor;
}

@media screen and (max-width: 960px){
    nav.navBar{
        position: relative;
        background-color: $navColor;

        a{
            white-space: initial;
        }
    }

    .pre-section1{
        display: none;
    }
}
