.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $footerColor;
    padding-top: 48px;
    padding-bottom: 64px;

    h2{
        color: $titlesColor;
        font-family: $darkerGrotesque;
        font-weight: 700;
        font-size: 4rem;
        margin-bottom: 8px;
    }

    .valores{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;

        .valor{
            padding: 16px;

            .valorImg{
                padding: 32px;
                display: inline-block;
                background-color: white;
                border-radius: 100%;
            }

            h3{
                margin-top: 32px;
                font-family: $darkerGrotesque;
                font-weight: 700;
                font-size: 3rem;
                color: white;
                margin-bottom: 32px;
            }

            .section3Span{
                font-family: $darkerGrotesque;
                font-weight: 400;
                font-size: 2rem;
                text-align: center;
                color: white;
            }
        }
    }
}

@media screen and (max-width: 1750px){
    .section3{
        .col-3{
            width: 33.33%;
            margin-top: 16px;
        }
    }
}


@media screen and (max-width: 1350px){
    .section3{
        .col-8{
            width: 83.33%;
        }
    }
}


@media screen and (max-width: 1150px){
    .section3{
        .col-3{
            width: 50%;
            margin-top: 32px;
        }
    }
}


@media screen and (max-width: 960px){
    .section3{
        .col-8{
            width: 100%;
        }
    }
}

@media screen and (max-width: 680px){
    .section3{
        .col-3{
            width: 100%;
            margin-top: 64px;
        }
    }
}