section.section1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url("../Adote um lobinho/image (3).png");
    height: 688px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;

    .escurecerLobo{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.2);
        top: 128px;
        width: 100%;
        height: 688px;
        z-index: 1;
    }

    .section1Container{
        display: block;
        overflow: hidden;
        z-index: 2;
        
        h1{
            line-height: 0.8;
            width: 100%;
            font-family: $darkerGrotesque;
            font-weight: 700;
            font-size: 7rem;
            color: white;
            margin-bottom: 48px;
            text-align: center;
        }

        .tracinho{
            width: 100%;
            margin-bottom: 16px;

            div{
                margin: auto;
                width: 144px;
                height: 6px;
                background-color: white;
            }
        }

        .section1Span{
            display: inline-flex;
            justify-content: space-around;
            width: 100%;
            text-align: center;
            color: white;
            font-family: $darkerGrotesque;
            font-weight: 500;
            font-size: 2.5rem;
        
            span{
                display: block;
                width: 70%;
            }
        }
    }


}

@media screen and (max-width: 1550px){
    section.section1{
        .col-6{
            width: 100%;
        }
    }
}

@media screen and (max-width: 780px){
    section.section1{
        col-6{
            width: 90%;
        }
        .section1Container{
            margin-top: -72px;
        }
    }
}

@media screen and (max-width: 600px){
    section.section1{
        col-6{
            width: 90%;
        }
        .section1Container{
            margin-top: 0px;
        }
    }
}

@media screen and (max-width: 490px){
    section.section1{
        col-6{
            width: 90%;
        }
        .section1Container{
            margin-top: 32px;
        }
    }
}

@media screen and (max-width: 410px){
    section.section1{
        col-6{
            width: 90%;
        }
        .section1Container{
            margin-top: 32px;
        
            h1{
                line-height: 0.6;
            }
        }
    }
}

