.section2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $section2Color;
    flex-direction: column;
    padding-top: 48px;
    padding-bottom: 64px;

    h2{
        display: block;
        color: $titlesColor;
        font-family: $darkerGrotesque;
        font-weight: 700;
        font-size: 4rem;
        text-align: center;
        margin-bottom: 16px;
    }
    .section2Span{
        width: 65%;
        font-family: $darkerGrotesque;
        font-weight: 400;
        font-size: 2rem;
        text-align: center;
        color: white;
    }
}

@media screen and (max-width: 960px){
    .section2 .section2Text{
        width: 90%;
    }
}