.section4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding-top: 48px;
    padding-bottom: 64px;

    h2{
        color: $titlesColor;
        font-family: $darkerGrotesque;
        font-weight: 700;
        font-size: 4rem;
        margin-bottom: 8px;
    }

    .loboExemplo1, .loboExemplo2{
        display: flex;
        justify-content: center;
        align-items: center;
        
        .section4Span{
            font-family: $darkerGrotesque;
            font-weight: 400;
            font-size: 1.8rem;
            color: black;
        
            h3{
                color: black;
                font-family: $darkerGrotesque;
                font-weight: 700;
                font-size: 3rem;
                margin-bottom: 16px;
            }

            h4{
                color: #555;
                font-family: $darkerGrotesque;
                font-weight: 500;
                font-size: 1.5rem;
                margin-bottom: 32px;
            }
        }
    }

    .loboExemplo1{
        margin-top: 64px;
        text-align: left;

        img{
            box-shadow: -48px -40px $section2Color, -52px -44px $footerColor, -44px -36px $footerColor, -52px -36px $footerColor, -44px -44px $footerColor;
            width: 600px;
            height: auto;
        }

        .section4Span{
            display: block;
            margin-left: 96px;
        }
    }

    .loboExemplo2{
        margin-top: 96px;
        margin-bottom: 64px;
        text-align: right;

        img{
            box-shadow: 48px -40px $section2Color, 52px -44px $footerColor, 44px -36px $footerColor, 52px -36px $footerColor, 44px -44px $footerColor;
            width: 600px;
            height: auto;
        }

        .section4Span{
            margin-right: 96px;
        }
    }
}

@media screen and (max-width: 1750px){
    .section4{
        .col-8{
            width: 75%;
        }

        .loboExemplo1{
            .section4Span{
                margin-left: 80px;
            }
        }

        .loboExemplo2{
            .section4Span{
                margin-right: 80px;
            }
        }
    }
}

@media screen and (max-width: 1450px){
    .section4{
        .col-8{
            width: 83.33%;
        }

        .loboExemplo1{
            .section4Span{
                margin-left: 56px;
            }
        }

        .loboExemplo2{
            .section4Span{
                margin-right: 56px;
            }
        }
    }
}

@media screen and (max-width: 1200px){
    .section4{    
        .col-8{
            width: 91.66%;
        }


        .loboExemplo1{
            .section4Span{
                margin-left: 24px;
            }

            img{
                box-shadow: -24px -20px $section2Color, -26px -22px $footerColor, -22px -18px $footerColor, -26px -18px $footerColor, -22px -22px $footerColor;
                width: 600px;
                height: auto;
            }
        }

        .loboExemplo2{
            .section4Span{
                margin-right: 24px;
            }

            img{
                box-shadow: 22px -20px $section2Color, 26px -22px $footerColor, 22px -18px $footerColor, 26px -18px $footerColor, 22px -22px $footerColor;
            }
        }
    }
}

@media screen and (max-width:960px){
    .section4{

        .loboExemplo1, .loboExemplo2{
            text-align: justify;

            .section4Span{
                margin: 0 8px 0 8px;
            }

            h3, h4{
                text-align: center;
            }

            img{
                box-shadow: none;
                display: block;
            }
        }

        .loboExemplo1{
            flex-wrap: wrap;
        }

        .loboExemplo2{
            flex-direction: column-reverse;
        }
    }
}

@media screen and (max-width: 600px){
    .section4{
        .col-8{
            width: 100%;
        }
    }
}

