* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

/*[class *= "col-"]{
    border: 2px solid red;
}*/
nav, section, footer {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
}

nav.navBar {
  background-color: rgba(91, 212, 240, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 128px;
  position: fixed;
  backdrop-filter: blur(2px);
  z-index: 3;
}
nav.navBar .abas {
  color: #444;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: capitalize;
}
nav.navBar span {
  border-bottom: 2px solid rgba(91, 212, 240, 0);
}
nav.navBar span:hover {
  border-bottom: 2px solid #444;
  font-size: 2.45rem;
  transition: border-bottom 500ms, font-size 500ms;
}
nav.navBar a {
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav.navBar .col-2 {
  display: inline-block;
  width: 0;
}

.pre-section1 {
  width: 100%;
  height: 128px;
  background-color: #5BD4F0;
}

@media screen and (max-width: 960px) {
  nav.navBar {
    position: relative;
    background-color: #5BD4F0;
  }
  nav.navBar a {
    white-space: initial;
  }

  .pre-section1 {
    display: none;
  }
}
section.section1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url("../Adote um lobinho/image (3).png");
  height: 688px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}
section.section1 .escurecerLobo {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  top: 128px;
  width: 100%;
  height: 688px;
  z-index: 1;
}
section.section1 .section1Container {
  display: block;
  overflow: hidden;
  z-index: 2;
}
section.section1 .section1Container h1 {
  line-height: 0.8;
  width: 100%;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 700;
  font-size: 7rem;
  color: white;
  margin-bottom: 48px;
  text-align: center;
}
section.section1 .section1Container .tracinho {
  width: 100%;
  margin-bottom: 16px;
}
section.section1 .section1Container .tracinho div {
  margin: auto;
  width: 144px;
  height: 6px;
  background-color: white;
}
section.section1 .section1Container .section1Span {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  color: white;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
}
section.section1 .section1Container .section1Span span {
  display: block;
  width: 70%;
}

@media screen and (max-width: 1550px) {
  section.section1 .col-6 {
    width: 100%;
  }
}
@media screen and (max-width: 780px) {
  section.section1 col-6 {
    width: 90%;
  }
  section.section1 .section1Container {
    margin-top: -72px;
  }
}
@media screen and (max-width: 600px) {
  section.section1 col-6 {
    width: 90%;
  }
  section.section1 .section1Container {
    margin-top: 0px;
  }
}
@media screen and (max-width: 490px) {
  section.section1 col-6 {
    width: 90%;
  }
  section.section1 .section1Container {
    margin-top: 32px;
  }
}
@media screen and (max-width: 410px) {
  section.section1 col-6 {
    width: 90%;
  }
  section.section1 .section1Container {
    margin-top: 32px;
  }
  section.section1 .section1Container h1 {
    line-height: 0.6;
  }
}
.section2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #414CaA;
  flex-direction: column;
  padding-top: 48px;
  padding-bottom: 64px;
}
.section2 h2 {
  display: block;
  color: #e7eA33;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 16px;
}
.section2 .section2Span {
  width: 65%;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  color: white;
}

@media screen and (max-width: 960px) {
  .section2 .section2Text {
    width: 90%;
  }
}
.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #444;
  padding-top: 48px;
  padding-bottom: 64px;
}
.section3 h2 {
  color: #e7eA33;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 8px;
}
.section3 .valores {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.section3 .valores .valor {
  padding: 16px;
}
.section3 .valores .valor .valorImg {
  padding: 32px;
  display: inline-block;
  background-color: white;
  border-radius: 100%;
}
.section3 .valores .valor h3 {
  margin-top: 32px;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: white;
  margin-bottom: 32px;
}
.section3 .valores .valor .section3Span {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  color: white;
}

@media screen and (max-width: 1750px) {
  .section3 .col-3 {
    width: 33.33%;
    margin-top: 16px;
  }
}
@media screen and (max-width: 1350px) {
  .section3 .col-8 {
    width: 83.33%;
  }
}
@media screen and (max-width: 1150px) {
  .section3 .col-3 {
    width: 50%;
    margin-top: 32px;
  }
}
@media screen and (max-width: 960px) {
  .section3 .col-8 {
    width: 100%;
  }
}
@media screen and (max-width: 680px) {
  .section3 .col-3 {
    width: 100%;
    margin-top: 64px;
  }
}
.section4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding-top: 48px;
  padding-bottom: 64px;
}
.section4 h2 {
  color: #e7eA33;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 8px;
}
.section4 .loboExemplo1, .section4 .loboExemplo2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section4 .loboExemplo1 .section4Span, .section4 .loboExemplo2 .section4Span {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: black;
}
.section4 .loboExemplo1 .section4Span h3, .section4 .loboExemplo2 .section4Span h3 {
  color: black;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 16px;
}
.section4 .loboExemplo1 .section4Span h4, .section4 .loboExemplo2 .section4Span h4 {
  color: #555;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 32px;
}
.section4 .loboExemplo1 {
  margin-top: 64px;
  text-align: left;
}
.section4 .loboExemplo1 img {
  box-shadow: -48px -40px #414CaA, -52px -44px #444, -44px -36px #444, -52px -36px #444, -44px -44px #444;
  width: 600px;
  height: auto;
}
.section4 .loboExemplo1 .section4Span {
  display: block;
  margin-left: 96px;
}
.section4 .loboExemplo2 {
  margin-top: 96px;
  margin-bottom: 64px;
  text-align: right;
}
.section4 .loboExemplo2 img {
  box-shadow: 48px -40px #414CaA, 52px -44px #444, 44px -36px #444, 52px -36px #444, 44px -44px #444;
  width: 600px;
  height: auto;
}
.section4 .loboExemplo2 .section4Span {
  margin-right: 96px;
}

@media screen and (max-width: 1750px) {
  .section4 .col-8 {
    width: 75%;
  }
  .section4 .loboExemplo1 .section4Span {
    margin-left: 80px;
  }
  .section4 .loboExemplo2 .section4Span {
    margin-right: 80px;
  }
}
@media screen and (max-width: 1450px) {
  .section4 .col-8 {
    width: 83.33%;
  }
  .section4 .loboExemplo1 .section4Span {
    margin-left: 56px;
  }
  .section4 .loboExemplo2 .section4Span {
    margin-right: 56px;
  }
}
@media screen and (max-width: 1200px) {
  .section4 .col-8 {
    width: 91.66%;
  }
  .section4 .loboExemplo1 .section4Span {
    margin-left: 24px;
  }
  .section4 .loboExemplo1 img {
    box-shadow: -24px -20px #414CaA, -26px -22px #444, -22px -18px #444, -26px -18px #444, -22px -22px #444;
    width: 600px;
    height: auto;
  }
  .section4 .loboExemplo2 .section4Span {
    margin-right: 24px;
  }
  .section4 .loboExemplo2 img {
    box-shadow: 22px -20px #414CaA, 26px -22px #444, 22px -18px #444, 26px -18px #444, 22px -22px #444;
  }
}
@media screen and (max-width: 960px) {
  .section4 .loboExemplo1, .section4 .loboExemplo2 {
    text-align: justify;
  }
  .section4 .loboExemplo1 .section4Span, .section4 .loboExemplo2 .section4Span {
    margin: 0 8px 0 8px;
  }
  .section4 .loboExemplo1 h3, .section4 .loboExemplo1 h4, .section4 .loboExemplo2 h3, .section4 .loboExemplo2 h4 {
    text-align: center;
  }
  .section4 .loboExemplo1 img, .section4 .loboExemplo2 img {
    box-shadow: none;
    display: block;
  }
  .section4 .loboExemplo1 {
    flex-wrap: wrap;
  }
  .section4 .loboExemplo2 {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 600px) {
  .section4 .col-8 {
    width: 100%;
  }
}
footer {
  display: flex;
  flex-direction: column;
  background-color: #444;
  align-items: center;
  justify-content: center;
}

.pre-footer {
  width: 100%;
  height: 8px;
  display: flex;
}
.pre-footer .pre-footer1 {
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, #e7eA33, #aaa);
}
.pre-footer .pre-footer2 {
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, #aaa, #414CaA);
}

footer.footerBar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 64px;
  padding-bottom: 64px;
  justify-content: space-evenly;
}
footer.footerBar ul.informacoesContato {
  list-style: none;
  display: flex;
  flex-direction: column;
}
footer.footerBar ul.informacoesContato img {
  width: 24px;
  height: auto;
  filter: invert(100%);
}
footer.footerBar ul.informacoesContato li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Darker Grotesque", sans-serif;
}
footer.footerBar ul.informacoesContato li .endImg img {
  margin-left: -12px;
  width: 48px;
  height: auto;
}
footer.footerBar ul.informacoesContato li .telImg, footer.footerBar ul.informacoesContato li .emailImg {
  margin-right: 24px;
}
footer.footerBar ul.informacoesContato li .endImg {
  margin-right: 16px;
}
footer.footerBar ul.informacoesContato a.quemSomos {
  font-weight: 400;
  font-family: "Darker Grotesque", sans-serif;
  margin-top: 32px;
  width: 204px;
  font-size: 2.25rem;
  padding: 4px 12px 8px 12px;
  white-space: nowrap;
  color: #444;
  background-color: #e7eA33;
}
footer.footerBar ul.informacoesContato .telefone, footer.footerBar ul.informacoesContato .email {
  padding-top: 16px;
}
footer.footerBar ul.informacoesContato .email {
  white-space: nowrap;
}
footer.footerBar .desenvolvidoPaws {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Darker Grotesque", sans-serif;
}
footer.footerBar .desenvolvidoPaws img {
  margin-top: 16px;
  width: 160px;
  height: auto;
}

@media screen and (max-width: 1300px) {
  footer.col-9 {
    width: 91.66%;
  }
}
@media screen and (max-width: 980px) {
  footer .col-9 {
    width: 100%;
    margin-left: 4px;
    margin-right: 4px;
  }
  footer .footerBar .blankCol {
    display: none;
  }
}
@media screen and (max-width: 720px) {
  footer.footerBar .col-4 {
    padding-left: 4px;
    padding-bottom: 64px;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
